@import '../../styles/utils/colors';
@import '../../styles/utils/breakpoints';

.progressBar {
  position: relative;
  height: 0.2em;
  background-color: $elephant-paw;
  border-radius: 1.5em;

   &__value {
    content: '';
    display: flex;
    align-items: center;
    position: absolute;
    top: -0.3em;
    left: -0.1em;
    bottom: 0em;
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-color: $barney;
    border-radius: 1em 0 0 1em;
    padding: 0.4em;
    transition: 0.5s ease-in-out all;
    @media only screen and (max-width: $mobile) {
      padding: 0.8em;
      top: -0.6em;
      left: -0.1em;
      bottom: 0.5em;
    }
  }

  &::after {
    content:'';
    width: 10px;
    height: 10px;
    position: absolute;
    top: -0.2em;
    right: -0.1em;
    border-radius: 50%;
    background-color: $elephant-paw;
    @media only screen and (max-width: $mobile) {
      width: 15px;
      height: 15px;
      top: -0.3em;
    }
  }

  @media only screen and (max-width: $mobile) {
    margin: 15px;
    height: 0.3em;   
  }

  @media only screen and (max-width: $tablet) {
    margin: 15px;
  }
}